@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/mauve.css";


input,
button {
    all: unset;
    box-sizing: border-box;
}

.FormRoot {
    width: 100%;
}

.FormField {
    display: grid;
    margin-bottom: 10px;
}

.FormLabel {
    font-size: 15px;
    font-weight: 500;
    line-height: 35px;
}

.FormMessage {
    font-size: 13px;
    opacity: 0.8;
}

.Input{
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 0 0 0 1px var(--primary-400);
}

.Input:hover{
    box-shadow: 0 0 0 1px var(--primary-500);
}

.Input:focus,
.Textarea:focus {
    box-shadow: 0 0 0 2px var(--primary-500);
}



.Input {
    padding: 10px;
    height: 35px;
    line-height: 1;
}

.Textarea {
    resize: none;
    padding: 10px;
}

.container-btn {
    width: 100%;
}